.main {
  /* Bootstrap Dark Color*/
  background-color: whitesmoke;
}

.jumbotron {
  background-color: lightcoral; 
  color: lightgoldenrodyellow;
}

.photo {
    padding: 5px;
    margin: 5px;
    background-color:  chocolate;
    box-shadow: 0px 0px 6px 2px silver;
}

.photo:hover {
    animation: hovered 0.75s both;
}

.indicator {
  background-color: crimson; 
  height: 100%;
  text-align: center;
  color: floralwhite;
  animation: indicator 2s;
}

.loading {
  width: 100%;
  text-align: center;
  color: lightcoral;
  height: 100vh;
}
   
@keyframes hovered {
    0% { transform: scale(1) rotate(0);}
    50% { transform:translateY(-20%) scale(1.125) rotate(5deg); }
    75% { transform: translateY(-15%) scale(1.125) rotate(-5deg); }
    100% { transform: scale(1.25) rotate(0deg); }
}

@keyframes indicator {
  from { transform: translateX(-100%); }
  to {  transform: translateX(0%); }
}